<html lang="en">
<!doctype html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Loren</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amiri:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amiri" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../slick/slick.css">
</head>

<body>
    <div class="login">
        <h1>LOGIN</h1>
        <div class="box-content">
            <form id="customer_login">
                <p class="form_instructions">Please enter your e-mail and password:</p>
                <div class="form_control">
                    <input type="e-mail" class="form_input" required="required" placeholder="Email">
                </div>
                <div class="form_control">
                    <input type="password" class="form_input" required="required" placeholder="Password">
                </div>
                <div class="box_button_wrapper">
                    <button type="submit">Login</button>
                </div>
                <p class="register_link">
                    Don't have an account?
                    <a href="">Register</a>
                </p>
            </form>
        </div>
    </div>
</body>
</html>
