<html lang="en">
<!doctype html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Loren</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amiri:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amiri" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../slick/slick.css">
</head>

<body>
    <div class="filter_container_wrapper">
        <div class="filters_container_man">
            <div class="category_container">
                <p>Categories</p>
                <ul>
                    <li class="dropdown-btn">
                        <a href="#">Woman</a>
                        <a class="fa fa-plus"></a>
                    </li>
                    <div class="dropdown-container">
                        <ul>
                            <li><a href="#">Link 1</a></li>
                            <li><a href="#">Link 1</a></li>
                            <li><a href="#">Link 1</a></li>
                            <li><a href="#">Link 1</a></li>
                            <li><a href="#">Link 1</a></li>
                            <li><a href="#">Link 1</a></li>
                            <li><a href="#">Link 1</a></li>
                            <li><a href="#">Link 1</a></li>
                            <li><a href="#">Link 1</a></li>
                        </ul>
                    </div>
                    <li class="dropdown-btn">
                        <a href="#">Man</a>
                        <a class="fa fa-plus"></a>
                    </li>
                    <div class="dropdown-container">
                        <ul>
                            <li><a href="#">Link 1</a></li>
                            <li><a href="#">Link 1</a></li>
                            <li><a href="#">Link 1</a></li>
                            <li><a href="#">Link 1</a></li>
                            <li><a href="#">Link 1</a></li>
                        </ul>
                    </div>
                </ul>
            </div>
            <div class="shop_container">
                <p>Shop by</p>
                <ul>
                    <li>Color</li>
                    <div class="category_color">
                        <div class="color_box6 color_contaiter"></div>
                        <div class="color_box7 color_contaiter"></div>
                        <div class="color_box8 color_contaiter"></div>
                        <div class="color_box9 color_contaiter"></div>
                        <div class="color_box10 color_contaiter"></div>
                        <div class="color_box11 color_contaiter"></div>
                    </div>
                    <li>Size</li>
                    <div class="category_size">
                        <div class="size_box2">S</div>
                        <div class="size_box3">M</div>
                        <div class="size_box4">L</div>
                        <div class="size_box4">XL</div>
                    </div>
                    <li>Price</li>
                    <label class="container">$100 - $200
					<input type="checkbox">
					<span class="checkmark"></span>
				</label>

                    <label class="container">$200 - $300
					<input type="checkbox">
					<span class="checkmark"></span>
				</label>

                    <label class="container">$200 - $300
					<input type="checkbox">
					<span class="checkmark"></span>
				</label>

                    <li>Brand</li>
                    <label class="container">Louis Vuitton
					<input type="checkbox">
					<span class="checkmark"></span>
				</label>

                    <label class="container">Gucci
					<input type="checkbox">
					<span class="checkmark"></span>
				</label>

                    <label class="container">Lazada
					<input type="checkbox">
					<span class="checkmark"></span>
				</label>

                    <label class="container">Mango
					<input type="checkbox">
					<span class="checkmark"></span>
				</label>
                    <label class="container">Blaze
					<input type="checkbox">
					<span class="checkmark"></span>
				</label>

                    <label class="container">Asos
					<input type="checkbox">
					<span class="checkmark"></span>
				</label>

                    <label class="container">Channel
					<input type="checkbox">
					<span class="checkmark"></span>
				</label>
                </ul>
            </div>
        </div>
        <div class="product_container_man">
            <a href="#" class="product_container">
				<img src="../img/12_2_large.jpg">
				<p>Brand</p>
				<p>Name</p>
				<p>$100</p>
			</a>
            <a href="#" class="product_container">
				<img src="../img/12_2_large.jpg">
				<p>Brand</p>
				<p>Name</p>
				<p>$100</p>
			</a>
            <a href="#" class="product_container">
				<img src="../img/12_2_large.jpg">
				<p>Brand</p>
				<p>Name</p>
				<p>$100</p>
			</a>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
    <script src="../js/script.js"></script>
    <script src="../slick/slick.js" type="text/javascript" charset="utf-8"></script>
    <!--    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDv2NcqCMd3nKtKjBD60o9cNJNaTPQceNc&callback=initMap"></script>-->
</body>

</html>
